/.DS_Store
/.vscode
/AOJ
/codefo
/PAST
/comp
/others
/seiproblems
/library_checker
/yuki
/UPC
/cafeco
/ac-library
/TopCoder
/GCJ
/techful
/POJ
/moja
/athletic
/library/data_structure/kDtree-fast.cpp
/Codechef
/atcoder
/RUST
/douzyo